//minimal css reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

//nav
nav{
    height: 70px;
    background-color: rgb(183, 4, 4);
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-diamond{
    width: 30px;
}

//generelt
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

//vanskelighetsgrad 1
