//minimal css reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

//nav
nav{
    height: 70px;
    background-color: pink;
}
.fa-diamond{
    width: 30px;
}

//generelt
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ;
}

//vanskelighetsgrad 1
